# ----------------------------------------------------------------------
# --   FPGA DEVICE  : SPARTAN3 XC3S1500-4FG676
# --   TARGET BOARD : LL5000 REV 1.1
# --   FOR ECE 453 : TLL6219 on rear mezzanine
# -------------------------------------------------------------------------

# -------------------------------------------------------------------------
# RESET PIN
# -------------------------------------------------------------------------
NET SYS_RST_N LOC=AB11;
NET SYS_RST_N IOSTANDARD = LVCMOS33;
NET SYS_RST_N TIG;

# -------------------------------------------------------------------------
# 24 MHz CLOCK INPUTS 
# -------------------------------------------------------------------------
NET SYS_CLK LOC=AE14;
NET SYS_CLK IOSTANDARD = LVCMOS33;
#NET SYS_CLK TNM_NET = SYS_CLK;
#TIMESPEC TS_SYS_CLK = PERIOD SYS_CLK 41666 PS;
NET FPGA_CLK_BANK_0 LOC = A13;
NET FPGA_CLK_BANK_0 IOSTANDARD = LVCMOS33;
NET FPGA_CLK_BANK_1 LOC = B14;
NET FPGA_CLK_BANK_1 IOSTANDARD = LVCMOS33;
#NET FPGA_CLK_BANK_4 LOC = AE14;
#NET FPGA_CLK_BANK_4 IOSTANDARD = LVCMOS33;
NET FPGA_CLK_BANK_5 LOC = AD13;
NET FPGA_CLK_BANK_5 IOSTANDARD = LVCMOS33;

# -------------------------------------------------------------------------
# 100MHZ/N CLOCK INPUTS from AD9510 Clock Generator
# -------------------------------------------------------------------------
NET FPGA_CLK1 LOC = B13;
NET FPGA_CLK1 IOSTANDARD = LVCMOS33;
NET FPGA_CLK2 LOC = C14;
NET FPGA_CLK2 IOSTANDARD = LVCMOS33;
NET FPGA_CLK3 LOC = AF14;
NET FPGA_CLK3 IOSTANDARD = LVCMOS33;
# FPGA_CLK4 configured for VE_CLK (27MHZ) on board
#NET FPGA_CLK4 LOC = AE13;	
#NET FPGA_CLK4 IOSTANDARD = LVCMOS33;

# -------------------------------------------------------------------------
#      MODULE RS232_UART_1 CONSTRAINTS
# -------------------------------------------------------------------------
NET RS232_RX LOC=M1;
NET RS232_RX IOSTANDARD = LVCMOS33;
NET RS232_TX LOC=M2;
NET RS232_TX IOSTANDARD = LVCMOS33;
NET RS232_TX SLEW = SLOW;
NET RS232_TX DRIVE = 12;
NET RS232_RTS LOC=M6;
NET RS232_RTS IOSTANDARD = LVCMOS33;
NET RS232_CTS LOC=N1;
NET RS232_CTS IOSTANDARD = LVCMOS33;
NET RS232_CTS SLEW = SLOW;
NET RS232_CTS DRIVE = 12;

# -------------------------------------------------------------------------
#      MODULE LEDS_8BIT CONSTRAINTS
# -------------------------------------------------------------------------
NET LED[0] LOC=AB7;
NET LED[0] IOSTANDARD = LVTTL;
NET LED[0] SLEW = SLOW;
NET LED[0] DRIVE = 12;
NET LED[1] LOC=AB8;
NET LED[1] IOSTANDARD = LVTTL;
NET LED[1] SLEW = SLOW;
NET LED[1] DRIVE = 12;
NET LED[2] LOC=AB9;
NET LED[2] IOSTANDARD = LVTTL;
NET LED[2] SLEW = SLOW;
NET LED[2] DRIVE = 12;
NET LED[3] LOC=AA9;
NET LED[3] IOSTANDARD = LVTTL;
NET LED[3] SLEW = SLOW;
NET LED[3] DRIVE = 12;
NET LED[4] LOC=AA10;
NET LED[4] IOSTANDARD = LVTTL;
NET LED[4] SLEW = SLOW;
NET LED[4] DRIVE = 12;
NET LED[5] LOC=AA11;
NET LED[5] IOSTANDARD = LVTTL;
NET LED[5] SLEW = SLOW;
NET LED[5] DRIVE = 12;
NET LED[6] LOC=AD12;
NET LED[6] IOSTANDARD = LVTTL;
NET LED[6] SLEW = SLOW;
NET LED[6] DRIVE = 12;
NET LED[7] LOC=Y13;
NET LED[7] IOSTANDARD = LVTTL;
NET LED[7] SLEW = SLOW;
NET LED[7] DRIVE = 12;

# -------------------------------------------------------------------------
#      MODULE DIPSWS_8BIT CONSTRAINTS
# -------------------------------------------------------------------------
NET DIP_SW[0] LOC=Y8;
NET DIP_SW[0] IOSTANDARD = LVCMOS33;
NET DIP_SW[1] LOC=Y9;
NET DIP_SW[1] IOSTANDARD = LVCMOS33;
NET DIP_SW[2] LOC=Y10;
NET DIP_SW[2] IOSTANDARD = LVCMOS33;
NET DIP_SW[3] LOC=Y11;
NET DIP_SW[3] IOSTANDARD = LVCMOS33;
NET DIP_SW[4] LOC=Y12;
NET DIP_SW[4] IOSTANDARD = LVCMOS33;
NET DIP_SW[5] LOC=W11;
NET DIP_SW[5] IOSTANDARD = LVCMOS33;
NET DIP_SW[6] LOC=W12;
NET DIP_SW[6] IOSTANDARD = LVCMOS33;
NET DIP_SW[7] LOC=W13;
NET DIP_SW[7] IOSTANDARD = LVCMOS33;

# -------------------------------------------------------------------------
#      MODULE PUSHBUTTONS_5BIT CONSTRAINTS
# -------------------------------------------------------------------------
NET PB[0] LOC=AB23;
NET PB[0] IOSTANDARD = LVCMOS33;
NET PB[1] LOC=AF13;
NET PB[1] IOSTANDARD = LVCMOS33;
NET PB[2] LOC=AA21;
NET PB[2] IOSTANDARD = LVCMOS33;
NET PB[3] LOC=AB24;
NET PB[3] IOSTANDARD = LVCMOS33;
NET PB[4] LOC=AA22;
NET PB[4] IOSTANDARD = LVCMOS33;

# -------------------------------------------------------------------------
#      MODULE GPIO_CHAR_LCD CONSTRAINTS
# -------------------------------------------------------------------------
NET LCD_BACK LOC=N20;
NET LCD_BACK IOSTANDARD = LVCMOS33;
NET LCD_DATA[0] TIG;
NET LCD_DATA[0] IOSTANDARD = LVCMOS33;
NET LCD_DATA[0]  LOC = L21;
NET LCD_DATA[1] TIG;
NET LCD_DATA[1] IOSTANDARD = LVCMOS33;
NET LCD_DATA[1]  LOC = K21;
NET LCD_DATA[2] TIG;
NET LCD_DATA[2] IOSTANDARD = LVCMOS33;
NET LCD_DATA[2]  LOC = K22;
NET LCD_DATA[3] TIG;
NET LCD_DATA[3] IOSTANDARD = LVCMOS33;
NET LCD_DATA[3]  LOC = J22;
NET LCD_E TIG;
NET LCD_E IOSTANDARD = LVCMOS33;
NET LCD_E  LOC = M21;
NET LCD_RS TIG;
NET LCD_RS IOSTANDARD = LVCMOS33;
NET LCD_RS  LOC = M20;
NET LCD_RW TIG;
NET LCD_RW IOSTANDARD = LVCMOS33;
NET LCD_RW  LOC = N21;

# -------------------------------------------------------------------------
#      MODULE PS2_PORTS CONSTRAINTS
# -------------------------------------------------------------------------
NET PS2_ENABLED LOC=L4;
NET PS2_ENABLED IOSTANDARD = LVTTL;
NET PS2_ENABLED SLEW = SLOW;
NET PS2_ENABLED DRIVE = 8;

# -------------------------------------------------------------------------
#      MODULE PS2_IO_ADAPTER CONSTRAINTS
# -------------------------------------------------------------------------
NET PS2_KEYB_CLK LOC=N8;
NET PS2_KEYB_CLK IOSTANDARD = LVTTL;
NET PS2_KEYB_CLK SLEW = SLOW;
NET PS2_KEYB_CLK DRIVE = 8;

NET PS2_KEYB_DATA LOC=M3;
NET PS2_KEYB_DATA IOSTANDARD = LVTTL;
NET PS2_KEYB_DATA SLEW = SLOW;
NET PS2_KEYB_DATA DRIVE = 8;

NET PS2_MOUSE_CLK LOC=M5;
NET PS2_MOUSE_CLK IOSTANDARD = LVTTL;
NET PS2_MOUSE_CLK SLEW = SLOW;
NET PS2_MOUSE_CLK DRIVE = 8;

NET PS2_MOUSE_DATA LOC=N4;
NET PS2_MOUSE_DATA IOSTANDARD = LVTTL;
NET PS2_MOUSE_DATA SLEW = SLOW;
NET PS2_MOUSE_DATA DRIVE = 8;

# -------------------------------------------------------------------------
#      MODULE AUDIO_CODEC CONSTRAINTS
# -------------------------------------------------------------------------
NET AC97_BIT_CLK LOC=P6;
NET AC97_BIT_CLK IOSTANDARD = LVTTL;
NET AC97_SDATA_IN LOC=P7;
NET AC97_SDATA_IN IOSTANDARD = LVTTL;
NET AC97_SDATA_OUT LOC=P5;
NET AC97_SDATA_OUT IOSTANDARD = LVTTL;
NET AC97_SDATA_OUT SLEW = SLOW;
NET AC97_SDATA_OUT DRIVE = 8;
NET AC97_SYNC LOC=P2;
NET AC97_SYNC IOSTANDARD = LVTTL;
NET AC97_SYNC SLEW = SLOW;
NET AC97_SYNC DRIVE = 8;
NET AC97_RESET_N LOC=P1;
NET AC97_RESET_N IOSTANDARD = LVTTL;
NET AC97_RESET_N SLEW = SLOW;
NET AC97_RESET_N DRIVE = 8;
NET AC97_ID_0 LOC=P3;
NET AC97_ID_0 IOSTANDARD = LVTTL;
NET AC97_ID_0 SLEW = SLOW;
NET AC97_ID_0 DRIVE = 8;
NET AC97_ID_1 LOC=P4;
NET AC97_ID_1 IOSTANDARD = LVTTL;
NET AC97_ID_1 SLEW = SLOW;
NET AC97_ID_1 DRIVE = 8;

# -------------------------------------------------------------------------
#     VGA
# -------------------------------------------------------------------------
NET VGA_HSYNC LOC = N3;
NET VGA_HSYNC IOSTANDARD = LVTTL;
NET VGA_VSYNC LOC = N7;
NET VGA_VSYNC IOSTANDARD = LVTTL;

NET VGA_PIX_CLK LOC = R1;
NET VGA_PIX_CLK IOSTANDARD =  LVTTL;

NET VGA_BLANK LOC = U7;
NET VGA_BLANK IOSTANDARD= LVTTL;
NET VGA_SYNC LOC= V6;
NET VGA_SYNC IOSTANDARD= LVTTL;

NET VGA_B[0] LOC = R3;
NET VGA_B[1] LOC = T5;
NET VGA_B[2] LOC = T4;
NET VGA_B[3] LOC = U3;
NET VGA_B[4] LOC = U4;
NET VGA_B[5] LOC = V3;
NET VGA_B[6] LOC = V4;
NET VGA_B[7] LOC = R7;
NET VGA_B[0] IOSTANDARD = LVTTL;
NET VGA_B[1] IOSTANDARD = LVTTL;
NET VGA_B[2] IOSTANDARD = LVTTL;
NET VGA_B[3] IOSTANDARD = LVTTL;
NET VGA_B[4] IOSTANDARD = LVTTL;
NET VGA_B[5] IOSTANDARD = LVTTL;
NET VGA_B[6] IOSTANDARD = LVTTL;
NET VGA_B[7] IOSTANDARD = LVTTL;

NET VGA_G[0] LOC = V5;
NET VGA_G[1] LOC = U5;
NET VGA_G[2] LOC = U6;
NET VGA_G[3] LOC = T6;
NET VGA_G[4] LOC = R6;
NET VGA_G[5] LOC = R8;
NET VGA_G[6] LOC = T8;
NET VGA_G[7] LOC = T7;
NET VGA_G[0] IOSTANDARD = LVTTL;
NET VGA_G[1] IOSTANDARD = LVTTL;
NET VGA_G[2] IOSTANDARD = LVTTL;
NET VGA_G[3] IOSTANDARD = LVTTL;
NET VGA_G[4] IOSTANDARD = LVTTL;
NET VGA_G[5] IOSTANDARD = LVTTL;
NET VGA_G[6] IOSTANDARD = LVTTL;
NET VGA_G[7] IOSTANDARD = LVTTL;

NET VGA_R[0] LOC = P8;
NET VGA_R[1] LOC = W1;
NET VGA_R[2] LOC = V2;
NET VGA_R[3] LOC = U2;
NET VGA_R[4] LOC = U1;
NET VGA_R[5] LOC = T2;
NET VGA_R[6] LOC = T1;
NET VGA_R[7] LOC = R2;
NET VGA_R[0] IOSTANDARD = LVTTL;
NET VGA_R[1] IOSTANDARD = LVTTL;
NET VGA_R[2] IOSTANDARD = LVTTL;
NET VGA_R[3] IOSTANDARD = LVTTL;
NET VGA_R[4] IOSTANDARD = LVTTL;
NET VGA_R[5] IOSTANDARD = LVTTL;
NET VGA_R[6] IOSTANDARD = LVTTL;
NET VGA_R[7] IOSTANDARD = LVTTL;

NET VGA_PSAVE LOC= R5;
NET VGA_PSAVE IOSTANDARD= LVTTL;

# -------------------------------------------------------------------------
#      MODULE OPB_SPI_0 CONSTRAINTS (SD CARD INTERFACE)
# -------------------------------------------------------------------------
NET SPI_MISO LOC=L19;
NET SPI_MISO IOSTANDARD = LVCMOS33;
NET SPI_MOSI LOC=J21;
NET SPI_MOSI IOSTANDARD = LVCMOS33;
NET SPI_SCK LOC=L20;
NET SPI_SCK IOSTANDARD = LVCMOS33;
NET SPI_SS LOC=H21;
NET SPI_SS IOSTANDARD = LVCMOS33;

# -------------------------------------------------------------------------
#      MODULE SDRAM CONSTRAINTS
# -------------------------------------------------------------------------
#NET SDRAM_A[0]    IOSTANDARD = LVTTL    ;
#NET SDRAM_A[0]    LOC = V22    ;    
#NET SDRAM_A[1]    IOSTANDARD = LVTTL    ;
#NET SDRAM_A[1]    LOC = Y26    ;    
#NET SDRAM_A[2]    IOSTANDARD = LVTTL    ;
#NET SDRAM_A[2]    LOC = AA25    ;    
#NET SDRAM_A[3]    IOSTANDARD = LVTTL    ;
#NET SDRAM_A[3]    LOC = W21    ;    
#NET SDRAM_A[4]    IOSTANDARD = LVTTL    ;
#NET SDRAM_A[4]    LOC = V21    ;    
#NET SDRAM_A[5]    IOSTANDARD = LVTTL    ;
#NET SDRAM_A[5]    LOC = U21    ;    
#NET SDRAM_A[6]    IOSTANDARD = LVTTL    ;
#NET SDRAM_A[6]    LOC = U20    ;    
#NET SDRAM_A[7]    IOSTANDARD = LVTTL    ;
#NET SDRAM_A[7]    LOC = T20    ;    
#NET SDRAM_A[8]    IOSTANDARD = LVTTL    ;
#NET SDRAM_A[8]    LOC = R20    ;    
#NET SDRAM_A[9]    IOSTANDARD = LVTTL    ;
#NET SDRAM_A[9]    LOC = T19    ;    
#NET SDRAM_A[10]    IOSTANDARD = LVTTL    ;
#NET SDRAM_A[10]    LOC = Y25    ;    
#NET SDRAM_A[11]    IOSTANDARD = LVTTL    ;
#NET SDRAM_A[11]    LOC = W25    ;    

#NET SDRAM_BA[0]    IOSTANDARD = LVTTL    ;
#NET SDRAM_BA[0]    LOC = U22    ;    
#NET SDRAM_BA[1]    IOSTANDARD = LVTTL    ;
#NET SDRAM_BA[1]    LOC = W26    ;    

#NET SDRAM_CAS_L    IOSTANDARD = LVTTL    ;
#NET SDRAM_CAS_L    LOC = U26    ;    
#NET SDRAM_CKE    IOSTANDARD = LVTTL    ;
#NET SDRAM_CKE    LOC = R19    ;    
#NET SDRAM_CLK    IOSTANDARD = LVTTL    ;
#NET SDRAM_CLK    LOC = P19    ;    
#NET SDRAM_CS_L    IOSTANDARD = LVTTL    ;
#NET SDRAM_CS_L    LOC = V25    ;    

#NET SDRAM_DQ[0]    IOSTANDARD = LVTTL    ;
#NET SDRAM_DQ[0]    LOC = P25    ;    
#NET SDRAM_DQ[1]    IOSTANDARD = LVTTL    ;
#NET SDRAM_DQ[1]    LOC = P26    ;    
#NET SDRAM_DQ[2]    IOSTANDARD = LVTTL    ;
#NET SDRAM_DQ[2]    LOC = P20    ;    
#NET SDRAM_DQ[3]    IOSTANDARD = LVTTL    ;
#NET SDRAM_DQ[3]    LOC = R25    ;    
#NET SDRAM_DQ[4]    IOSTANDARD = LVTTL    ;
#NET SDRAM_DQ[4]    LOC = R26    ;    
#NET SDRAM_DQ[5]    IOSTANDARD = LVTTL    ;
#NET SDRAM_DQ[5]    LOC = R21    ;    
#NET SDRAM_DQ[6]    IOSTANDARD = LVTTL    ;
#NET SDRAM_DQ[6]    LOC = T25    ;    
#NET SDRAM_DQ[7]    IOSTANDARD = LVTTL    ;
#NET SDRAM_DQ[7]    LOC = T26    ;    
#NET SDRAM_DQ[8]    IOSTANDARD = LVTTL    ;
#NET SDRAM_DQ[8]    LOC = U24    ;    
#NET SDRAM_DQ[9]    IOSTANDARD = LVTTL    ;
#NET SDRAM_DQ[9]    LOC = T23    ;    
#NET SDRAM_DQ[10]    IOSTANDARD = LVTTL    ;
#NET SDRAM_DQ[10]    LOC = R22    ;    
#NET SDRAM_DQ[11]    IOSTANDARD = LVTTL    ;
#NET SDRAM_DQ[11]    LOC = R24    ;    
#NET SDRAM_DQ[12]    IOSTANDARD = LVTTL    ;
#NET SDRAM_DQ[12]    LOC = P23    ;    
#NET SDRAM_DQ[13]    IOSTANDARD = LVTTL    ;
#NET SDRAM_DQ[13]    LOC = P24    ;    
#NET SDRAM_DQ[14]    IOSTANDARD = LVTTL    ;
#NET SDRAM_DQ[14]    LOC = P22    ;    
#NET SDRAM_DQ[15]    IOSTANDARD = LVTTL    ;
#NET SDRAM_DQ[15]    LOC = P21    ;    
#NET SDRAM_DQ[16]    IOSTANDARD = LVTTL    ;
#NET SDRAM_DQ[16]    LOC = AA26    ;    
#NET SDRAM_DQ[17]    IOSTANDARD = LVTTL    ;
#NET SDRAM_DQ[17]    LOC = AB25    ;    
#NET SDRAM_DQ[18]    IOSTANDARD = LVTTL    ;
#NET SDRAM_DQ[18]    LOC = Y22    ;    
#NET SDRAM_DQ[19]    IOSTANDARD = LVTTL    ;
#NET SDRAM_DQ[19]    LOC = AB26    ;    
#NET SDRAM_DQ[20]    IOSTANDARD = LVTTL    ;
#NET SDRAM_DQ[20]    LOC = AC25    ;    
#NET SDRAM_DQ[21]    IOSTANDARD = LVTTL    ;
#NET SDRAM_DQ[21]    LOC = Y21    ;    
#NET SDRAM_DQ[22]    IOSTANDARD = LVTTL    ;
#NET SDRAM_DQ[22]    LOC = AC26    ;    
#NET SDRAM_DQ[23]    IOSTANDARD = LVTTL    ;
#NET SDRAM_DQ[23]    LOC = AA23    ;    
#NET SDRAM_DQ[24]    IOSTANDARD = LVTTL    ;
#NET SDRAM_DQ[24]    LOC = AA24    ;    
#NET SDRAM_DQ[25]    IOSTANDARD = LVTTL    ;
#NET SDRAM_DQ[25]    LOC = Y23    ;    
#NET SDRAM_DQ[26]    IOSTANDARD = LVTTL    ;
#NET SDRAM_DQ[26]    LOC = W23    ;    
#NET SDRAM_DQ[27]    IOSTANDARD = LVTTL    ;
#NET SDRAM_DQ[27]    LOC = W24    ;    
#NET SDRAM_DQ[28]    IOSTANDARD = LVTTL    ;
#NET SDRAM_DQ[28]    LOC = V23    ;    
#NET SDRAM_DQ[29]    IOSTANDARD = LVTTL    ;
#NET SDRAM_DQ[29]    LOC = V24    ;    
#NET SDRAM_DQ[30]    IOSTANDARD = LVTTL    ;
#NET SDRAM_DQ[30]    LOC = Y20    ;    
#NET SDRAM_DQ[31]    IOSTANDARD = LVTTL    ;
#NET SDRAM_DQ[31]    LOC = W20    ;    

#NET SDRAM_DQM[0]    IOSTANDARD = LVTTL    ;
#NET SDRAM_DQM[0]    LOC = T21    ;    
#NET SDRAM_DQM[1]    IOSTANDARD = LVTTL    ;
#NET SDRAM_DQM[1]    LOC = U23    ;    
#NET SDRAM_DQM[2]    IOSTANDARD = LVTTL    ;
#NET SDRAM_DQM[2]    LOC = W22    ;    
#NET SDRAM_DQM[3]    IOSTANDARD = LVTTL    ;
#NET SDRAM_DQM[3]    LOC = V20    ;    
#NET SDRAM_RAS_L    IOSTANDARD = LVTTL    ;
#NET SDRAM_RAS_L    LOC = T22    ;    
#NET SDRAM_WE_L    IOSTANDARD = LVTTL    ;
#NET SDRAM_WE_L    LOC = U25    ;    

# -------------------------------------------------------------------------
#      MODULE FLASH MEMORY
# -------------------------------------------------------------------------
NET FLASH_ADDR[0] IOSTANDARD = LVTTL;
NET FLASH_ADDR[0] LOC=G7;
NET FLASH_ADDR[1] IOSTANDARD = LVTTL;
NET FLASH_ADDR[1] LOC=F5;
NET FLASH_ADDR[2] IOSTANDARD = LVTTL;
NET FLASH_ADDR[2] LOC=M8;
NET FLASH_ADDR[3] IOSTANDARD = LVTTL;
NET FLASH_ADDR[3] LOC=L8;
NET FLASH_ADDR[4] IOSTANDARD = LVTTL;
NET FLASH_ADDR[4] LOC=J5;
NET FLASH_ADDR[5] IOSTANDARD = LVTTL;
NET FLASH_ADDR[5] LOC=K5;
NET FLASH_ADDR[6] IOSTANDARD = LVTTL;
NET FLASH_ADDR[6] LOC=L2;
NET FLASH_ADDR[7] IOSTANDARD = LVTTL;
NET FLASH_ADDR[7] LOC=H7;
NET FLASH_ADDR[8] IOSTANDARD = LVTTL;
NET FLASH_ADDR[8] LOC=J7;
NET FLASH_ADDR[9] IOSTANDARD = LVTTL;
NET FLASH_ADDR[9] LOC=H6;
NET FLASH_ADDR[10] IOSTANDARD = LVTTL;
NET FLASH_ADDR[10] LOC=J6;
NET FLASH_ADDR[11] IOSTANDARD = LVTTL;
NET FLASH_ADDR[11] LOC=K6;
NET FLASH_ADDR[12] IOSTANDARD = LVTTL;
NET FLASH_ADDR[12] LOC=K7;
NET FLASH_ADDR[13] IOSTANDARD = LVTTL;
NET FLASH_ADDR[13] LOC=L7;
NET FLASH_ADDR[14] IOSTANDARD = LVTTL;
NET FLASH_ADDR[14] LOC=M7;
NET FLASH_ADDR[15] IOSTANDARD = LVTTL;
NET FLASH_ADDR[15] LOC=L5;
NET FLASH_ADDR[16] IOSTANDARD = LVTTL;
NET FLASH_ADDR[16] LOC=L6;
NET FLASH_ADDR[17] IOSTANDARD = LVTTL;
NET FLASH_ADDR[17] LOC=H3;
NET FLASH_ADDR[18] IOSTANDARD = LVTTL;
NET FLASH_ADDR[18] LOC=J4;
NET FLASH_ADDR[19] IOSTANDARD = LVTTL;
NET FLASH_ADDR[19] LOC=J3;
NET FLASH_ADDR[20] IOSTANDARD = LVTTL;
NET FLASH_ADDR[20] LOC=K4;
NET FLASH_ADDR[21] IOSTANDARD = LVTTL;
NET FLASH_ADDR[21] LOC=K3;
NET FLASH_ADDR[22] IOSTANDARD = LVTTL;
NET FLASH_ADDR[22] LOC=E4;

NET FLASH_DATA[0] IOSTANDARD = LVTTL;
NET FLASH_DATA[0] LOC=K2;
NET FLASH_DATA[1] IOSTANDARD = LVTTL;
NET FLASH_DATA[1] LOC=J2;
NET FLASH_DATA[2] IOSTANDARD = LVTTL;
NET FLASH_DATA[2] LOC=H1;
NET FLASH_DATA[3] IOSTANDARD = LVTTL;
NET FLASH_DATA[3] LOC=G1;
NET FLASH_DATA[4] IOSTANDARD = LVTTL;
NET FLASH_DATA[4] LOC=F1;
NET FLASH_DATA[5] IOSTANDARD = LVTTL;
NET FLASH_DATA[5] LOC=E1;
NET FLASH_DATA[6] IOSTANDARD = LVTTL;
NET FLASH_DATA[6] LOC=D1;
NET FLASH_DATA[7] IOSTANDARD = LVTTL;
NET FLASH_DATA[7] LOC=G4;
NET FLASH_DATA[8] IOSTANDARD = LVTTL;
NET FLASH_DATA[8] LOC=K1;
NET FLASH_DATA[9] IOSTANDARD = LVTTL;
NET FLASH_DATA[9] LOC=H2;
NET FLASH_DATA[10] IOSTANDARD = LVTTL;
NET FLASH_DATA[10] LOC=G2;
NET FLASH_DATA[11] IOSTANDARD = LVTTL;
NET FLASH_DATA[11] LOC=F2;
NET FLASH_DATA[12] IOSTANDARD = LVTTL;
NET FLASH_DATA[12] LOC=E2;
NET FLASH_DATA[13] IOSTANDARD = LVTTL;
NET FLASH_DATA[13] LOC=D2;
NET FLASH_DATA[14] IOSTANDARD = LVTTL;
NET FLASH_DATA[14] LOC=H4;
NET FLASH_DATA[15] IOSTANDARD = LVTTL;
NET FLASH_DATA[15] LOC=F3;

NET FLASH_NBYTE IOSTANDARD = LVTTL;
NET FLASH_NBYTE LOC=L1;
NET FLASH_NCE IOSTANDARD = LVTTL;
NET FLASH_NCE LOC=E3;
NET FLASH_NOE_E IOSTANDARD = LVTTL;
NET FLASH_NOE_E LOC=F4;
NET FLASH_NRESET IOSTANDARD = LVTTL;
NET FLASH_NRESET LOC=G6;
NET FLASH_NRYBY IOSTANDARD = LVTTL;
NET FLASH_NRYBY LOC=H5;
NET FLASH_NRYBY PULLUP;
NET FLASH_NWE IOSTANDARD = LVTTL;
NET FLASH_NWE LOC=F6;
NET FLASH_NWP IOSTANDARD = LVTTL;
NET FLASH_NWP LOC=G5;

# -------------------------------------------------------------------------
####    MODULE VIDEO ENCODER
# -------------------------------------------------------------------------
NET VE_DATA[7] LOC=W2;
NET VE_DATA[7] IOSTANDARD = LVTTL;
NET VE_DATA[7] SLEW = SLOW;
NET VE_DATA[7] DRIVE = 12;
NET VE_DATA[6] LOC=Y1;
NET VE_DATA[6] IOSTANDARD = LVTTL;
NET VE_DATA[6] SLEW = SLOW;
NET VE_DATA[6] DRIVE = 12;
NET VE_DATA[5] LOC=Y2;
NET VE_DATA[5] IOSTANDARD = LVTTL;
NET VE_DATA[5] SLEW = SLOW;
NET VE_DATA[5] DRIVE = 12;
NET VE_DATA[4] LOC=AA1;
NET VE_DATA[4] IOSTANDARD = LVTTL;
NET VE_DATA[4] SLEW = SLOW;
NET VE_DATA[4] DRIVE = 12;
NET VE_DATA[3] LOC=AA2;
NET VE_DATA[3] IOSTANDARD = LVTTL;
NET VE_DATA[3] SLEW = SLOW;
NET VE_DATA[3] DRIVE = 12;
NET VE_DATA[2] LOC=AB1;
NET VE_DATA[2] IOSTANDARD = LVTTL;
NET VE_DATA[2] SLEW = SLOW;
NET VE_DATA[2] DRIVE = 12;
NET VE_DATA[1] LOC=AB2;
NET VE_DATA[1] IOSTANDARD = LVTTL;
NET VE_DATA[1] SLEW = SLOW;
NET VE_DATA[1] DRIVE = 12;
NET VE_DATA[0] LOC=AA4;
NET VE_DATA[0] IOSTANDARD = LVTTL;
NET VE_DATA[0] SLEW = SLOW;
NET VE_DATA[0] DRIVE = 12;
NET VE_TTX LOC=Y7;
NET VE_TTX IOSTANDARD = LVTTL;
NET VE_TTX SLEW = SLOW;
NET VE_TTX DRIVE = 12;
NET VE_SCRESET_RTC LOC=V7;
NET VE_SCRESET_RTC IOSTANDARD = LVTTL;
NET VE_SCRESET_RTC SLEW = SLOW;
NET VE_SCRESET_RTC DRIVE = 12;
NET VE_CLK LOC=AE13;   #27MHZ
NET VE_CLK IOSTANDARD = LVTTL;
#NET VE_CLK SLEW = SLOW;
#NET VE_CLK DRIVE = 12;
NET VE_HSYNC LOC=W6;
NET VE_HSYNC IOSTANDARD = LVTTL;
NET VE_FIELD_VSYNC LOC=Y5;
NET VE_FIELD_VSYNC IOSTANDARD = LVTTL;
NET VE_BLANK LOC=W5;
NET VE_BLANK IOSTANDARD = LVTTL;
NET VE_TTXREQ LOC=W7;
NET VE_TTXREQ IOSTANDARD = LVTTL;
NET VE_CLAMP LOC=W3;
NET VE_CLAMP IOSTANDARD = LVTTL;
NET VE_VSO LOC=AA3;
NET VE_VSO IOSTANDARD = LVTTL;
NET VE_CSO_HSO LOC=Y6;
NET VE_CSO_HSO IOSTANDARD = LVTTL;
NET VE_RESET LOC=Y4;
NET VE_RESET IOSTANDARD = LVTTL;
NET VE_PAL_NTSC LOC=W4;
NET VE_PAL_NTSC IOSTANDARD = LVTTL;

# -------------------------------------------------------------------------
#    MODULE I2C INTERFACE
# -------------------------------------------------------------------------
NET I2C_SCL LOC = C23;
NET I2C_SCL IOSTANDARD = LVTTL;
NET I2C_SCL PULLUP;
NET I2C_SDA LOC=A23;
NET I2C_SDA IOSTANDARD = LVTTL;
NET I2C_SDA PULLUP;

# -------------------------------------------------------------------------
#    MODULE VIDEO DECODER
# -------------------------------------------------------------------------
NET VD_VS_FIELD LOC=AC9;
NET VD_VS_FIELD IOSTANDARD=LVTTL;
NET VD_HS LOC=AC8;
NET VD_HS IOSTANDARD=LVTTL;
NET VD_INTRQ LOC=AD8;
NET VD_INTRQ IOSTANDARD=LVTTL;
NET VD_INTRQ PULLUP;
NET VD_SFL LOC=AC7;
NET VD_SFL IOSTANDARD=LVTTL;
NET VD_LLC LOC=AB3;
NET VD_LLC IOSTANDARD=LVTTL;
NET VD_NRESET LOC=AD2;
NET VD_NRESET IOSTANDARD=LVTTL;
NET VD_NPWRDWN LOC=AC1;
NET VD_NPWRDWN IOSTANDARD=LVTTL;
NET VD_DATA_DEC[7] LOC=AD6;
NET VD_DATA_DEC[7] IOSTANDARD=LVTTL;
NET VD_DATA_DEC[6] LOC=AC6;
NET VD_DATA_DEC[6] IOSTANDARD=LVTTL;
NET VD_DATA_DEC[5] LOC=AD5;
NET VD_DATA_DEC[5] IOSTANDARD=LVTTL;
NET VD_DATA_DEC[4] LOC=AB6;
NET VD_DATA_DEC[4] IOSTANDARD=LVTTL;
NET VD_DATA_DEC[3] LOC=AA6;
NET VD_DATA_DEC[3] IOSTANDARD=LVTTL;
NET VD_DATA_DEC[2] LOC=AB4;
NET VD_DATA_DEC[2] IOSTANDARD=LVTTL;
NET VD_DATA_DEC[1] LOC=AD1;
NET VD_DATA_DEC[1] IOSTANDARD=LVTTL;
NET VD_DATA_DEC[0] LOC=AC2;
NET VD_DATA_DEC[0] IOSTANDARD=LVTTL;

# -------------------------------------------------------------------------
#      MODULE ETH_MAC CONSTRAINTS
# -------------------------------------------------------------------------
#NET ETH_MAC_SLEW1 LOC=B22;
#NET ETH_MAC_SLEW1 IOSTANDARD = LVTTL;
#NET ETH_MAC_SLEW1 SLEW = SLOW;
#NET ETH_MAC_SLEW1 DRIVE = 8;
#NET ETH_MAC_SLEW2 LOC=A21;
#NET ETH_MAC_SLEW2 IOSTANDARD = LVTTL;
#NET ETH_MAC_SLEW2 SLEW = SLOW;
#NET ETH_MAC_SLEW2 DRIVE = 8;
#NET ETH_MAC_PHY_RST_N LOC=A22;
#NET ETH_MAC_PHY_RST_N IOSTANDARD = LVTTL;
#NET ETH_MAC_PHY_RST_N SLEW = SLOW;
#NET ETH_MAC_PHY_RST_N DRIVE = 8;
#NET ETH_MAC_PHY_CRS LOC=A20;
#NET ETH_MAC_PHY_CRS IOSTANDARD = LVTTL;
#NET ETH_MAC_PHY_COL LOC=B20;
#NET ETH_MAC_PHY_COL IOSTANDARD = LVTTL;
#NET ETH_MAC_PHY_TX_DATA[3] LOC=A19;
#NET ETH_MAC_PHY_TX_DATA[3] IOSTANDARD = LVTTL;
#NET ETH_MAC_PHY_TX_DATA[3] SLEW = SLOW;
#NET ETH_MAC_PHY_TX_DATA[3] DRIVE = 8;
#NET ETH_MAC_PHY_TX_DATA[2] LOC=B19;
#NET ETH_MAC_PHY_TX_DATA[2] IOSTANDARD = LVTTL;
#NET ETH_MAC_PHY_TX_DATA[2] SLEW = SLOW;
#NET ETH_MAC_PHY_TX_DATA[2] DRIVE = 8;
#NET ETH_MAC_PHY_TX_DATA[1] LOC=B18;
#NET ETH_MAC_PHY_TX_DATA[1] IOSTANDARD = LVTTL;
#NET ETH_MAC_PHY_TX_DATA[1] SLEW = SLOW;
#NET ETH_MAC_PHY_TX_DATA[1] DRIVE = 8;
#NET ETH_MAC_PHY_TX_DATA[0] LOC=A17;
#NET ETH_MAC_PHY_TX_DATA[0] IOSTANDARD = LVTTL;
#NET ETH_MAC_PHY_TX_DATA[0] SLEW = SLOW;
#NET ETH_MAC_PHY_TX_DATA[0] DRIVE = 8;
#NET ETH_MAC_PHY_TX_EN LOC=B17;
#NET ETH_MAC_PHY_TX_EN IOSTANDARD = LVTTL;
#NET ETH_MAC_PHY_TX_EN SLEW = SLOW;
#NET ETH_MAC_PHY_TX_EN DRIVE = 8;
#NET ETH_MAC_PHY_TX_CLK LOC=A16;
#NET ETH_MAC_PHY_TX_CLK IOSTANDARD = LVTTL;
#NET ETH_MAC_PHY_RX_ER LOC=A15;
#NET ETH_MAC_PHY_RX_ER IOSTANDARD = LVTTL;
#NET ETH_MAC_PHY_RX_CLK LOC=B15;
#NET ETH_MAC_PHY_RX_CLK IOSTANDARD = LVTTL;
#NET ETH_MAC_PHY_DV LOC=A14;
#NET ETH_MAC_PHY_DV IOSTANDARD = LVTTL;
#NET ETH_MAC_PHY_RX_DATA[0] LOC=C15;
#NET ETH_MAC_PHY_RX_DATA[0] IOSTANDARD = LVTTL;
#NET ETH_MAC_PHY_RX_DATA[1] LOC=D16;
#NET ETH_MAC_PHY_RX_DATA[1] IOSTANDARD = LVTTL;
#NET ETH_MAC_PHY_RX_DATA[2] LOC=E16;
#NET ETH_MAC_PHY_RX_DATA[2] IOSTANDARD = LVTTL;
#NET ETH_MAC_PHY_RX_DATA[3] LOC=E15;
#NET ETH_MAC_PHY_RX_DATA[3] IOSTANDARD = LVTTL;
#NET ETH_MAC_MDDIS LOC=B23;
#NET ETH_MAC_MDDIS IOSTANDARD = LVTTL;
#NET ETH_MAC_PAUSE LOC=F14;
#NET ETH_MAC_PAUSE IOSTANDARD = LVTTL;

# -------------------------------------------------------------------------
# MEZZANINE A - PROTOTYPING ADAPTER BOARD
# -------------------------------------------------------------------------
#   CON-900

# NET MZ_PIO_A[0] 		LOC = AF15;
NET MZA_PIO[0] 	LOC = AF15; 
NET MZA_PIO[0] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[1] 		LOC = AE15;
NET MZA_PIO[1] 	LOC = AE15;
NET MZA_PIO[1] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[2] 		LOC = AF16;
NET MZA_PIO[2] 	LOC = AF16;
NET MZA_PIO[2] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[3] 		LOC = AE16;
NET MZA_PIO[3] 	LOC = AE16;
NET MZA_PIO[3] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[4] 		LOC = AF17;
NET MZA_PIO[4] 	LOC = AF17;
NET MZA_PIO[4] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[5] 		LOC =AE17; 
NET MZA_PIO[5] 	LOC =AE17 ;
NET MZA_PIO[5] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[6] 		LOC =AE18 ;
NET MZA_PIO[6] 	LOC =AE18 ;
NET MZA_PIO[6] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[7] 		LOC = AF19;
NET MZA_PIO[7] 	LOC = AF19;
NET MZA_PIO[7] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[8] 		LOC = AE19;
NET MZA_DIR0	LOC = AE19;
NET MZA_DIR0 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[9] 		LOC = AF20;
NET MZA_OE0 	LOC = AF20;
NET MZA_OE0 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[10] 	LOC = AE20;
NET MZA_PIO[8] 	LOC = AE20;
NET MZA_PIO[8] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[11] 	LOC = AF21;
NET MZA_PIO[9] 	LOC = AF21;
NET MZA_PIO[9] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[12] 	LOC = AE21;
NET MZA_PIO[10] LOC = AE21;
NET MZA_PIO[10] IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[13] 	LOC = AF22;
NET MZA_PIO[11] LOC = AF22;
NET MZA_PIO[11] IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[14] 	LOC = AE22;
NET MZA_PIO[12] LOC = AE22;
NET MZA_PIO[12] IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[15] 	LOC = AF23;
NET MZA_PIO[13] LOC = AF23;
NET MZA_PIO[13] IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[16] 	LOC = AE23;
NET MZA_PIO[14] LOC = AE23;
NET MZA_PIO[14] IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[17] 	LOC = AF24;
NET MZA_PIO[15] LOC = AF24;
NET MZA_PIO[15] IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[18] 	LOC = AE24;
NET MZA_DIR8 	LOC = AE24;
NET MZA_DIR8 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[19] 	LOC = AD25;
NET MZA_OE8 	LOC = AD25;
NET MZA_OE8 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[20] 	LOC = AB20;
NET MZA_PIO[16] 		LOC = AB20;
NET MZA_PIO[16] 		IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[21] 	LOC = AA20;
NET MZA_PIO[17] 		LOC = AA20;
NET MZA_PIO[17] 		IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[22] 	LOC = W15;
NET MZA_PIO[18]		LOC = W15;
NET MZA_PIO[18]		IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[23] 	LOC = W16;
NET MZA_PIO[19]		LOC = W16;
NET MZA_PIO[19]		IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[24] 	LOC = Y16;
NET MZA_PIO[20]		LOC = Y16;
NET MZA_PIO[20]		IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[25] 	LOC = Y17;
NET MZA_PIO[21]		LOC = Y17;
NET MZA_PIO[21]		IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[26] 	LOC = Y18;
NET MZA_PIO[22] 		LOC = Y18;
NET MZA_PIO[22] 		IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[27] 	LOC = AA18;
NET MZA_PIO[23] 		LOC = AA18;
NET MZA_PIO[23] 		IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[28] 	LOC = AA19;
NET MZA_DIR16	 	LOC = AA19;
NET MZA_DIR16	 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[29] 	LOC = Y19;
NET MZA_OE16	LOC = Y19;
NET MZA_OE16	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[30] 	LOC = AC22;
NET MZA_PIO[24]	LOC = AC22;
NET MZA_PIO[24]	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[31] 	LOC = AD23;
NET MZA_PIO[25]		LOC = AD23;
NET MZA_PIO[25]		IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[32] 	LOC = AB21 ;
NET MZA_PIO[26] 	LOC = AB21 ;
NET MZA_PIO[26] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[33]		LOC = AB22;
NET MZA_PIO[27] 	LOC = AB22;
NET MZA_PIO[27] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[34] 	LOC = AA15;
NET MZA_PIO[28] 	LOC = AA15;
NET MZA_PIO[28] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[35] 	LOC = AA16;
NET MZA_PIO[29] 	LOC = AA16;
NET MZA_PIO[29] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[36] 	LOC = AA17;
NET MZA_PIO[30] 	LOC = AA17;
NET MZA_PIO[30] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[37] 	LOC = AB17;
NET MZA_PIO[31] 	LOC = AB17;
NET MZA_PIO[31] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[38] 	LOC = AB18;
NET MZA_DIR24 	LOC = AB18;
NET MZA_DIR24 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[39] 	LOC = AB19;
NET MZA_OE24 	LOC = AB19;
NET MZA_OE24 	IOSTANDARD = LVCMOS33;

# CON-901

# NET MZ_IO_A[40] 	LOC = AD22;
NET MZA_PIO[32] 	LOC = AD22;
NET MZA_PIO[32] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[41] 	LOC = AC21;
NET MZA_PIO[33]	LOC = AC21;
NET MZA_PIO[33]	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[42] 	LOC = AD21;
NET MZA_PIO[34] 	LOC = AD21;
NET MZA_PIO[34] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[43] 	LOC = AC20;
NET MZA_PIO[35] 	LOC = AC20;
NET MZA_PIO[35] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[44] 	LOC = AC19;
NET MZA_PIO[36] 	LOC = AC19;
NET MZA_PIO[36] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[45] 	LOC = AD19;
NET MZA_PIO[37]	LOC = AD19;
NET MZA_PIO[37]	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[46] 	LOC = AC18;
NET MZA_PIO[38]	LOC = AC18;
NET MZA_PIO[38]	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[47] 	LOC = AD18;
NET MZA_PIO[39] 	LOC = AD18;
NET MZA_PIO[39] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[48] 	LOC = AC17;
NET MZA_DIR32 	LOC = AC17;
NET MZA_DIR32 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[49] 	LOC = AD17;
NET MZA_OE32 	LOC = AD17;
NET MZA_OE32 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[50] 	LOC = AC16;
NET MZA_PIO[40] 	LOC = AC16;
NET MZA_PIO[40] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[51] 	LOC = AB16;
NET MZA_PIO[41] 	LOC = AB16;
NET MZA_PIO[41] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[52] 	LOC = AD15;
NET MZA_PIO[42] 	LOC = AD15;
NET MZA_PIO[42] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[53] 	LOC = AB15;
NET MZA_PIO[43] 	LOC = AB15;
NET MZA_PIO[43] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[54] 	LOC = AB14;
NET MZA_PIO[44] 	LOC = AB14;
NET MZA_PIO[44] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[55] 	LOC = AC11;
NET MZA_PIO[45] 	LOC = AC11;
NET MZA_PIO[45] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[56] 	LOC = AB10;
NET MZA_PIO[46] 	LOC = AB10;
NET MZA_PIO[46] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[57] 	LOC = AD10;
NET MZA_PIO[47] 	LOC = AD10;
NET MZA_PIO[47] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[58] 	LOC = AC10;
NET MZA_DIR40 	LOC = AC10;
NET MZA_DIR40 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[59] 	LOC = AD9;
NET MZA_OE40 	LOC = AD9;
NET MZA_OE40 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[60] 	LOC = AA8;
NET MZA_PIO[48] 	LOC = AA8;
NET MZA_PIO[48] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[61] 	LOC = AA7 ;
NET MZA_PIO[49] 	LOC = AA7 ;
NET MZA_PIO[49] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[62] 	LOC = AF4;
NET MZA_PIO[50] 	LOC = AF4;
NET MZA_PIO[50] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[63] 	LOC = AD4;
NET MZA_PIO[51] 	LOC = AD4;
NET MZA_PIO[51] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[64] 	LOC = AE12;
NET MZA_PIO[52] 	LOC = AE12;
NET MZA_PIO[52] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[65] 	LOC = AF12;
NET MZA_PIO[53] 	LOC = AF12;
NET MZA_PIO[53] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[66] 	LOC = AE11;
NET MZA_PIO[54] 	LOC = AE11;
NET MZA_PIO[54] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[67] 	LOC = AF11;
NET MZA_PIO[55] 	LOC = AF11;
NET MZA_PIO[55] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[68] 	LOC = AE10;
NET MZA_PIO[56] 	LOC = AE10;
NET MZA_PIO[56] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[69] 	LOC = AF10;
NET MZA_PIO[57] 	LOC = AF10;
NET MZA_PIO[57] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[70] 	LOC = AE9;
NET MZA_PIO[58] 	LOC = AE9;
NET MZA_PIO[58] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[71] 	LOC = AE8;
NET MZA_PIO[59] 	LOC = AE8;
NET MZA_PIO[59] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[72] 	LOC = AF8;
NET MZA_PIO[60] 	LOC = AF8;
NET MZA_PIO[60] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[73] 	LOC = AE7;
NET MZA_PIO[61] 	LOC = AE7;
NET MZA_PIO[61] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[74] 	LOC = AF7;
NET MZA_PIO[62] 	LOC = AF7;
NET MZA_PIO[62] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[75] 	LOC = AE6;
NET MZA_PIO[63] 	LOC = AE6;
NET MZA_PIO[63] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[76] 	LOC = AF6;
NET MZA_PIO[64] 	LOC = AF6;
NET MZA_PIO[64] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[77] 	LOC = AE5;
NET MZA_PIO[65] 	LOC = AE5;
NET MZA_PIO[65] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[78] 	LOC = AF5;
NET MZA_PIO[66] 	LOC = AF5;
NET MZA_PIO[66] 	IOSTANDARD = LVCMOS33;

# NET MZ_IO_A[79] 	LOC = AE4;
NET MZA_PIO[67] 	LOC = AE4;
NET MZA_PIO[67] 	IOSTANDARD = LVCMOS33;

# -------------------------------------------------------------------------
# MEZZANINE B - TLL6219 ARM926EJ-S BOARD
# -------------------------------------------------------------------------

#   CON-902

NET MZB_CPLD_CS2_B LOC = F21;
NET MZB_CPLD_CS2_B IOSTANDARD = LVCMOS33;
NET MZB_CPLD_OE_B LOC = F20;
NET MZB_CPLD_OE_B IOSTANDARD = LVCMOS33;
NET MZB_CPLD_CS5_B LOC = E21;
NET MZB_CPLD_CS5_B IOSTANDARD = LVCMOS33;
NET MZB_CPLD_CS1_B LOC = E20;
NET MZB_CPLD_CS1_B IOSTANDARD = LVCMOS33;
NET MZB_CPLD_CS3_B LOC = E19;
NET MZB_CPLD_CS3_B IOSTANDARD = LVCMOS33;
NET MZB_CPLD_NFIO4 LOC = E18;
NET MZB_CPLD_NFIO4 IOSTANDARD = LVCMOS33;
NET MZB_A[0] LOC = F18;
NET MZB_A[0] IOSTANDARD = LVCMOS33;
NET MZB_A[1] LOC = F17;
NET MZB_A[1] IOSTANDARD = LVCMOS33;
NET MZB_A[2] LOC = F16;
NET MZB_A[2] IOSTANDARD = LVCMOS33;
NET MZB_A[3] LOC = F15;
NET MZB_A[3] IOSTANDARD = LVCMOS33;
NET MZB_A[4] LOC = G14;
NET MZB_A[4] IOSTANDARD = LVCMOS33;
NET MZB_A[5] LOC = G13 ;
NET MZB_A[5] IOSTANDARD = LVCMOS33;
NET MZB_A[6] LOC = G12;
NET MZB_A[6] IOSTANDARD = LVCMOS33;
NET MZB_A[7] LOC = F13;
NET MZB_A[7] IOSTANDARD = LVCMOS33;
NET MZB_A[8] LOC = F12;
NET MZB_A[8] IOSTANDARD = LVCMOS33;
NET MZB_A[9] LOC = F11;
NET MZB_A[9] IOSTANDARD = LVCMOS33;
NET MZB_A[10] LOC = F10;
NET MZB_A[10] IOSTANDARD = LVCMOS33;
NET MZB_A[11] LOC = E10;
NET MZB_A[11] IOSTANDARD = LVCMOS33;
NET MZB_A[12] LOC = E9;
NET MZB_A[12] IOSTANDARD = LVCMOS33;
NET MZB_A[13] LOC = E8;
NET MZB_A[13] IOSTANDARD = LVCMOS33;
NET MZB_A[14] LOC = E7;
NET MZB_A[14] IOSTANDARD = LVCMOS33;
NET MZB_A[15] LOC = F7;
NET MZB_A[15] IOSTANDARD = LVCMOS33;
NET MZB_CPLD_RS5_B LOC = G19;
NET MZB_CPLD_RS5_B IOSTANDARD = LVCMOS33;
NET MZB_CPLD_CS0_B LOC = F19;
NET MZB_CPLD_CS0_B IOSTANDARD = LVCMOS33;
NET MZB_CPLD_WS5_B LOC = G18;
NET MZB_CPLD_WS5_B IOSTANDARD = LVCMOS33;
NET MZB_CPLD_RS1_B LOC = G17;
NET MZB_CPLD_RS1_B IOSTANDARD = LVCMOS33;
NET MZB_CPLD_RW LOC = G16;
NET MZB_CPLD_RW IOSTANDARD = LVCMOS33;
NET MZB_CPLD_CLK0 LOC = G15;
NET MZB_CPLD_CLK0 IOSTANDARD = LVCMOS33;
NET MZB_CPLD_AS LOC = H16;
NET MZB_CPLD_AS IOSTANDARD = LVCMOS33;
NET MZB_CPLD_RESET_OUT LOC = H15;
NET MZB_CPLD_RESET_OUT IOSTANDARD = LVCMOS33;
NET MZB_CPLD_IRQ LOC = H14;
NET MZB_CPLD_IRQ IOSTANDARD = LVCMOS33;
NET MZB_CPLD_WS1_B LOC = H13;
NET MZB_CPLD_WS1_B IOSTANDARD = LVCMOS33;
NET MZB_A[23] LOC = H12;
NET MZB_A[23] IOSTANDARD = LVCMOS33;
NET MZB_A[22] LOC = H11;
NET MZB_A[22] IOSTANDARD = LVCMOS33;
NET MZB_A[21] LOC = G11;
NET MZB_A[21] IOSTANDARD = LVCMOS33;
NET MZB_A[20] LOC = G10;
NET MZB_A[20] IOSTANDARD = LVCMOS33;
NET MZB_A[19] LOC = G9;
NET MZB_A[19] IOSTANDARD = LVCMOS33;
NET MZB_A[18] LOC = F9;
NET MZB_A[18] IOSTANDARD = LVCMOS33;
NET MZB_A[17] LOC = F8;
NET MZB_A[17] IOSTANDARD = LVCMOS33;
NET MZB_A[16] LOC = G8;
NET MZB_A[16] IOSTANDARD = LVCMOS33;

# CON 903

NET MZB_CPLD_BE0_B LOC = B3;
NET MZB_CPLD_BE0_B IOSTANDARD = LVCMOS33;
#NET MZB_CPLD_DATA_OE_B LOC = A3;
#NET MZB_CPLD_DATA_OE_B IOSTANDARD = LVCMOS33;
NET MZB_CPLD_BE3_B LOC = E5;
NET MZB_CPLD_BE3_B IOSTANDARD = LVCMOS33;
NET MZB_CPLD_BE2_B LOC = B4;
NET MZB_CPLD_BE2_B IOSTANDARD = LVCMOS33;
NET MZB_CPLD_BE1_B LOC = E6;
NET MZB_CPLD_BE1_B IOSTANDARD = LVCMOS33;
NET MZB_CPLD_NFIO5 LOC = C4;
NET MZB_CPLD_NFIO5 IOSTANDARD = LVCMOS33;
#NET MZB_CPLD_DATA_DIR LOC = D5;
#NET MZB_CPLD_DATA_DIR IOSTANDARD = LVCMOS33;
NET MZB_CPLD_DTACK LOC = C5;
NET MZB_CPLD_DTACK IOSTANDARD = LVCMOS33;
NET MZB_D[31] LOC = D6;
NET MZB_D[31] IOSTANDARD = LVCMOS33;
NET MZB_D[30] LOC = C6;
NET MZB_D[30] IOSTANDARD = LVCMOS33;
NET MZB_D[29] LOC = D7;
NET MZB_D[29] IOSTANDARD = LVCMOS33;
NET MZB_D[28] LOC = D8;
NET MZB_D[28] IOSTANDARD = LVCMOS33;
NET MZB_D[27] LOC = C8;
NET MZB_D[27] IOSTANDARD = LVCMOS33;
NET MZB_D[26] LOC = D9;
NET MZB_D[26] IOSTANDARD = LVCMOS33;
NET MZB_D[25] LOC = C9;
NET MZB_D[25] IOSTANDARD = LVCMOS33;
NET MZB_D[24] LOC = D10;
NET MZB_D[24] IOSTANDARD = LVCMOS33;
NET MZB_D[23] LOC = C10;
NET MZB_D[23] IOSTANDARD = LVCMOS33;
NET MZB_D[22] LOC = D11;
NET MZB_D[22] IOSTANDARD = LVCMOS33;
NET MZB_D[21] LOC = E11;
NET MZB_D[21] IOSTANDARD = LVCMOS33;
NET MZB_D[20] LOC = C12;
NET MZB_D[20] IOSTANDARD = LVCMOS33;
NET MZB_D[19] LOC = E12;
NET MZB_D[19] IOSTANDARD = LVCMOS33;
NET MZB_D[18] LOC = C13;
NET MZB_D[18] IOSTANDARD = LVCMOS33;
NET MZB_D[17] LOC = D13;
NET MZB_D[17] IOSTANDARD = LVCMOS33;
NET MZB_D[16] LOC = E13;
NET MZB_D[16] IOSTANDARD = LVCMOS33;
NET MZB_D[15] LOC = A4;
NET MZB_D[15] IOSTANDARD = LVCMOS33;
NET MZB_D[14] LOC = B5;
NET MZB_D[14] IOSTANDARD = LVCMOS33;
NET MZB_D[13] LOC = A5;
NET MZB_D[13] IOSTANDARD = LVCMOS33;
NET MZB_D[12] LOC = B6;
NET MZB_D[12] IOSTANDARD = LVCMOS33;
NET MZB_D[11] LOC = A6;
NET MZB_D[11] IOSTANDARD = LVCMOS33;
NET MZB_D[10] LOC = B7;
NET MZB_D[10] IOSTANDARD = LVCMOS33;
NET MZB_D[9] LOC = A7;
NET MZB_D[9] IOSTANDARD = LVCMOS33;
NET MZB_D[8] LOC = B8;
NET MZB_D[8] IOSTANDARD = LVCMOS33;
NET MZB_D[7] LOC = A8;
NET MZB_D[7] IOSTANDARD = LVCMOS33;
NET MZB_D[6] LOC = B9 ;
NET MZB_D[6] IOSTANDARD = LVCMOS33;
NET MZB_D[5] LOC = B10;
NET MZB_D[5] IOSTANDARD = LVCMOS33;
NET MZB_D[4] LOC = A10;
NET MZB_D[4] IOSTANDARD = LVCMOS33;
NET MZB_D[3] LOC = B11;
NET MZB_D[3] IOSTANDARD = LVCMOS33;
NET MZB_D[2] LOC = A11;
NET MZB_D[2] IOSTANDARD = LVCMOS33;
NET MZB_D[1] LOC = B12;
NET MZB_D[1] IOSTANDARD = LVCMOS33;
NET MZB_D[0] LOC = A12;
NET MZB_D[0] IOSTANDARD = LVCMOS33;


# --------------------------------------------------
# FPGA -> CPLD I/F
# --------------------------------------------------

#NET CPLD_FPGA0 LOC=G20;
#NET CPLD_FPGA0 IOSTANDARD = LVCMOS33;

#NET CPLD_FPGA1 LOC=G22;
#NET CPLD_FPGA1 IOSTANDARD = LVCMOS33;

#NET CPLD_FPGA2 LOC=H20;
#NET CPLD_FPGA2 IOSTANDARD = LVCMOS33;

#NET CPLD_FPGA3 LOC=H22;
#NET CPLD_FPGA3 IOSTANDARD = LVCMOS33;

# --------------------------------------------------
# MODULE COP -> FPGA INTERFACE
# --------------------------------------------------

#NET COP_AS LOC=F24;
#NET COP_AS IOSTANDARD = LVTTL;
#NET COP_DS LOC=F23;
#NET COP_DS IOSTANDARD = LVTTL;
#NET COP_RW LOC=H23;
#NET COP_RW IOSTANDARD = LVTTL;
#NET COP_DTACK LOC=G23;
#NET COP_DTACK IOSTANDARD = LVTTL;
#NET COP_DTACK PULLDOWN;
#NET COP_AD[0] LOC=H24;
#NET COP_AD[0] IOSTANDARD = LVTTL;
#NET COP_AD[1] LOC=J23;
#NET COP_AD[1] IOSTANDARD = LVTTL;
#NET COP_AD[2] LOC=K23;
#NET COP_AD[2] IOSTANDARD = LVTTL;
#NET COP_AD[3] LOC=J24;
#NET COP_AD[4] IOSTANDARD = LVTTL;
#NET COP_AD[4] LOC=K24;
#NET COP_AD[4] IOSTANDARD = LVTTL;
#NET COP_AD[5] LOC=L22;
#NET COP_AD[5] IOSTANDARD = LVTTL;
#NET COP_AD[6] LOC=M24;
#NET COP_AD[6] IOSTANDARD = LVTTL;
#NET COP_AD[7] LOC=L23;
#NET COP_AD[7] IOSTANDARD = LVTTL;
#NET COP_AD[8] LOC=M22;
#NET COP_AD[8] IOSTANDARD = LVTTL;
#NET COP_AD[9] LOC=N24;
#NET COP_AD[9] IOSTANDARD = LVTTL;
#NET COP_AD[10] LOC=N22;
#NET COP_AD[10] IOSTANDARD = LVTTL;
#NET COP_AD[11] LOC=N23;
#NET COP_AD[11] IOSTANDARD = LVTTL;
#NET COP_AD[12] LOC=E23;
#NET COP_AD[12] IOSTANDARD = LVTTL;
#NET COP_AD[13] LOC=C25;
#NET COP_AD[13] IOSTANDARD = LVTTL;
#NET COP_AD[14] LOC=D25;
#NET COP_AD[14] IOSTANDARD = LVTTL;
#NET COP_AD[15] LOC=C26;
#NET COP_AD[15] IOSTANDARD = LVTTL;

# --------------------------------------------------
# MODULE ACCESSORY CONNECTOR
# Indexes correspond to connector CON802 pin numbers
# --------------------------------------------------

NET ACC_PORT_PIN[9] LOC=H24;
NET ACC_PORT_PIN[9] IOSTANDARD = LVTTL;
NET ACC_PORT_PIN[10] LOC=J23;
NET ACC_PORT_PIN[10] IOSTANDARD = LVTTL;
NET ACC_PORT_PIN[11] LOC=K23;
NET ACC_PORT_PIN[11] IOSTANDARD = LVTTL;
NET ACC_PORT_PIN[12] LOC=J24;
NET ACC_PORT_PIN[12] IOSTANDARD = LVTTL;
NET ACC_PORT_PIN[13] LOC=K24;
NET ACC_PORT_PIN[13] IOSTANDARD = LVTTL;
NET ACC_PORT_PIN[14] LOC=L22;
NET ACC_PORT_PIN[14] IOSTANDARD = LVTTL;
NET ACC_PORT_PIN[15] LOC=M24;
NET ACC_PORT_PIN[15] IOSTANDARD = LVTTL;
NET ACC_PORT_PIN[16] LOC=L23;
NET ACC_PORT_PIN[16] IOSTANDARD = LVTTL;
NET ACC_PORT_PIN[17] LOC=M22;
NET ACC_PORT_PIN[17] IOSTANDARD = LVTTL;
NET ACC_PORT_PIN[18] LOC=N24;
NET ACC_PORT_PIN[18] IOSTANDARD = LVTTL;
NET ACC_PORT_PIN[19] LOC=N22;
NET ACC_PORT_PIN[19] IOSTANDARD = LVTTL;
NET ACC_PORT_PIN[20] LOC=N23;
NET ACC_PORT_PIN[20] IOSTANDARD = LVTTL;
NET ACC_PORT_PIN[21] LOC=E23;
NET ACC_PORT_PIN[21] IOSTANDARD = LVTTL; 
NET ACC_PORT_PIN[22] LOC=C25;
NET ACC_PORT_PIN[22] IOSTANDARD = LVTTL;
NET ACC_PORT_PIN[23] LOC=D25;
NET ACC_PORT_PIN[23] IOSTANDARD = LVTTL;
NET ACC_PORT_PIN[24] LOC=C26;
NET ACC_PORT_PIN[24] IOSTANDARD = LVTTL;
NET ACC_PORT_PIN[25] LOC=D26;			# FPGA_ACC0
NET ACC_PORT_PIN[25] IOSTANDARD = LVTTL;
NET ACC_PORT_PIN[26] LOC=E25;			# FPGA_ACC1
NET ACC_PORT_PIN[26] IOSTANDARD = LVTTL;
NET ACC_PORT_PIN[27] LOC=F25;			# FPGA_ACC2
NET ACC_PORT_PIN[27] IOSTANDARD = LVTTL;
NET ACC_PORT_PIN[28] LOC=E26;			# FPGA_ACC3
NET ACC_PORT_PIN[28] IOSTANDARD = LVTTL;
NET ACC_PORT_PIN[29] LOC=F26;			# FPGA_ACC4
NET ACC_PORT_PIN[29] IOSTANDARD = LVTTL;
NET ACC_PORT_PIN[30] LOC=G25;			# FPGA_ACC5
NET ACC_PORT_PIN[30] IOSTANDARD = LVTTL;
NET ACC_PORT_PIN[31] LOC=H25;			# FPGA_ACC6
NET ACC_PORT_PIN[31] IOSTANDARD = LVTTL;
NET ACC_PORT_PIN[32] LOC=G26;			# FPGA_ACC7
NET ACC_PORT_PIN[32] IOSTANDARD = LVTTL;
NET ACC_PORT_PIN[33] LOC=H26;			# FPGA_ACC8
NET ACC_PORT_PIN[33] IOSTANDARD = LVTTL;
NET ACC_PORT_PIN[34] LOC=J25;			# FPGA_ACC9
NET ACC_PORT_PIN[34] IOSTANDARD = LVTTL;
NET ACC_PORT_PIN[35] LOC=K26;			# FPGA_ACC10
NET ACC_PORT_PIN[35] IOSTANDARD = LVTTL;
NET ACC_PORT_PIN[36] LOC=K25;			# FPGA_ACC11
NET ACC_PORT_PIN[36] IOSTANDARD = LVTTL;
NET ACC_PORT_PIN[37] LOC=L25;			# FPGA_ACC12
NET ACC_PORT_PIN[37] IOSTANDARD = LVTTL;
NET ACC_PORT_PIN[38] LOC=L26;			# FPGA_ACC13
NET ACC_PORT_PIN[38] IOSTANDARD = LVTTL;
NET ACC_PORT_PIN[39] LOC=M26;			# FPGA_ACC14
NET ACC_PORT_PIN[39] IOSTANDARD = LVTTL;
NET ACC_PORT_PIN[40] LOC=M25;			# FPGA_ACC15
NET ACC_PORT_PIN[40] IOSTANDARD = LVTTL;
NET ACC_PORT_PIN[41] LOC=N26;			# FPGA_ACC16
NET ACC_PORT_PIN[41] IOSTANDARD = LVTTL;
NET ACC_PORT_PIN[42] LOC=N25;			# FPGA_ACC17
NET ACC_PORT_PIN[42] IOSTANDARD = LVTTL;

