# Files from running make
*.d
*.o
demo

# MPLABX Projects
*.X


#other
*.xmsg
*.xml
*.html
*.tmr
*.tmw
*.par
*.pad
*.ncd
*.drc
*.ptwx
*.prj
*.bgn
*.bit
*.twx
*.twr
*.*~
*.ut
*.stx
*.xst
*.pcf
*.unroutes
*.xpi
*.xwbt
*.xrpt
*.csv
*.xrpt
*.xreport
*.log
*.xmsgs
*.lso
*~
